{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/admin_side/admin_dashboard.css">
{% endblock %}
{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
    <header class="header-content">
        <div class="brand">
            <h4>ParkoU</h4>
        </div>
        <div class="welcome-note">
            <h5>Welcome to Admin</h5>
        </div>
        <nav class="navbar">
            <div class="nav-links">
                <a href="{{ url_for('admin_dashboard') }}" class="nav-link">Edit Lot</a>
                <a href="{{ url_for('user_details') }}" class="nav-link">Users</a>
                <a href="{{ url_for('doubt_page') }}" class="nav-link">Doubts</a>
                <a href="{{ url_for('edit_admin_profile') }}" class="nav-link">Edit profile</a>
                <a class="nav-link" href="{{ url_for('logout') }}">
                    <button type="button" id="btn-logout" class="btn btn-danger">
                        <i class="fa-solid fa-right-from-bracket"></i>                
                        Logout
                    </button>
                </a>
            </div>
            <button type="button"class="menu-icon" id="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="form-container">
                <!-- Add Parking Lot Form -->
                <div class="form">
                    <h2>Add Parking Lot</h2>
                    <form class="form-group" id="lot-form" method="POST" action="{{ url_for('admin_dashboard') }}">
                        <input type="hidden" name="form_type" value="add_lot">
                        <input type="text" id="lotName" name="lotName" placeholder="Lot Name" required>
                        <input type="text" id="locationName" name="locationName" placeholder="City" required>
                        <input type="text" id="address" name="address" placeholder="Address" required>
                        <input type="number" id="pincode" name="pincode" placeholder="Pincode" required>
                        <input type="number" id="parklitecount" name="parkLiteCount" placeholder="ParkLite Count">
                        <input type="number" id="parksmartcount" name="parkSmartCount" placeholder="ParkSmart Count">
                        <input type="number" id="parkprocount" name="parkProCount" placeholder="ParkPro Count">
                        <input id="lot-submit" type="submit" value="Submit">
                    </form>
                </div>
            
                <!-- Update Parking Lot Form -->
                <div class="form">
                    <h2>Update Lot</h2>
                    <form id="lot-update-form" method="POST" action="{{ url_for('admin_dashboard') }}">
                        <input type="hidden" name="form_type" value="update-lot">
                        <input type="number" id="lot-number" name="id" placeholder="Lot ID" required>
                        <input type="submit" id="update-submit" value="Show">
                    </form>
                </div>
            </div>
            <div class="lot-container">
            <div class="table" id="customers_table">
                <section class="table__header">
                    <h1>Lot list</h1>
                </section>
                <section class="table__body">
                    <table border="1">
                        <thead>
                            <tr>
                                <th> Lot ID </th>
                                <th> Lot Name </th>
                                <th> City </th>
                                <th> Address </th>
                                <th> Pincode </th>
                                <th> ParkLite Count </th>
                                <th> ParkSmart Count </th>
                                <th> ParkPro Count </th>
                                <th> Ratings </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lots %}
                            {% for lot in lots %}
                                <tr>
                                    <td> {{ lot.id }} </td>
                                    <td> {{ lot.lotName }} </td>
                                    <td> {{ lot.locationName }} </td>
                                    <td> {{ lot.address }} </td>
                                    <td> {{ lot.pincode }} </td>
                                    <td> {{ lot.parkLiteCount }} </td>
                                    <td> {{ lot.parkSmartCount }} </td>
                                    <td> {{ lot.parkProCount }} </td>
                                    <td> {{ lot.ratings }} </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" style="text-align: center;">No Lot Found</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>
            </div>
        </div>
    </main>
    <script src="/static/js/after_login_js/admin_dashboard_page.js"></script>
{% endblock %}