{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/admin_side/admin_dashboard.css">
{% endblock %}
{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
    <header class="header-content">
        <div class="welcome-note">
            <h5>Welcome to Admin</h5>
        </div>
        <div class="brand">
            <h4>ParkoU</h4>
        </div>

        <nav class="navbar">
            <div class="nav-links">
                <a href="#Parking" class="nav-link">Edit Lot</a>
                <a href="#Users" class="nav-link">Users</a>
                <a href="#Doubts" class="nav-link">Doubts</a>
                <a href="#" class="nav-link">Edit profile</a>
                <button type="button" id="btn-logout" class="btn btn-danger nav-link">
                    <i class="fa-solid fa-right-from-bracket"></i>                
                    Logout
                </button>
            </div>
            <button type="button" class="menu-icon" id="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>
{% endblock %}