{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/admin_side/editprofile.css">
{% endblock %}

{% block title %}
    Edit profile
{% endblock %}

{% block content %}
    <header class="header-content">
        <div class="brand">
            <h4>ParkoU</h4>
        </div>

        <div class="welcome-note">
            <h5>Edit Profile</h5>
        </div>

        <nav class="navbar">
            <div class="nav-links">
                <a href="{{ url_for('admin_dashboard') }}" class="nav-link">Edit Lot</a>
                <a href="{{ url_for('user_details') }}" class="nav-link">Users</a>
                <a href="{{ url_for('summary_page') }}" class="nav-link">Summary</a>
                <a href="{{ url_for('doubt_page') }}" class="nav-link">Doubts</a>
                <a href="{{ url_for('edit_admin_profile') }}" class="nav-link">Edit profile</a>
                <a class="nav-link" href="{{ url_for('logout') }}">
                    <button type="button" id="btn-logout" class="btn btn-danger">
                        <i class="fa-solid fa-right-from-bracket"></i>                
                        Logout
                    </button>
                </a>
            </div>
            <button type="button" class="menu-icon" id="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>
    <main>
        <div class="container">
            <form action="/admin/edit/profile" method="POST" class="edit-profile-form">
                <div class="form-heading">
                    <h3>Chenge your credentials</h3>
                </div>
                <div class="input-field">
                    <div><i class="fas fa-user"></i></div>
                    <input type="text" name="fullName" placeholder="Name" required/>
                </div>
                <div class="input-field">
                    <div><i class="fas fa-envelope"></i></div>
                    <input type="email" name="email" placeholder="Email" required/>
                </div>
                <div class="input-field">
                    <div><i class="fas fa-lock"></i></div>
                    <input type="password" name="password" placeholder="Password" required/>
                </div>
                <input type="submit" class="btn btn-info" value="Submit" />
            </form>
        </div>
    </main>
{% endblock %}