{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/admin_side/search_lot.css">
{% endblock %}

{% block title %}
    Search Lot
{% endblock %}

{% block content %}
<header class="header-content">
    <div class="brand">
        <h4>ParkoU</h4>
    </div>
    <div class="control">
        <a href="{{ url_for('admin_dashboard') }}" id="go-back-btn" class="btn btn-warning">Go Back</a>
        <form action="{{ url_for('delete_lot', lot_id=lot.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this Lot?');">
            <button type="submit" class="btn btn-danger" style="padding: 0.5rem 1rem;">Delete Lot</button>
        </form>
    </div>
</header>
<main>
    <div class="container">
        <div class="form-container">
            <form action="{{ url_for('update_lot', lot_id=lot.id) }}" method="POST" class="edit-lot-form" onsubmit="return confirm('Are you sure you want to update this Lot?');">
                <div class="current-value">
                    <div class="feature">
                        <p>Name</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.lotName }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="text" id="lotName" name="lotName" placeholder="Change Lot Name"">
                </div>
                <div class="current-value">
                    <div class="feature">
                        <p>City</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.locationName }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="text" id="locationName" name="locationName" placeholder=" Change City">
                </div>
                
                <div class="current-value">
                    <div class="feature">
                        <p>Address</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.address }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="text" id="address" name="address" placeholder="Change Address">
                </div>
                
                <div class="current-value">
                    <div class="feature">
                        <p>Pincode</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.pincode }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="number" id="pincode" name="pincode" placeholder="Change Pincode">
                </div>
                
                <div class="current-value">
                    <div class="feature">
                        <p>ParkLite Count</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.parkLiteCount }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="number" id="parklitecount" name="parkLiteCount" placeholder="Change ParkLite Count">
                </div>
                
                <div class="current-value">
                    <div class="feature">
                        <p>ParkSmart Count</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.parkSmartCount }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="number" id="parksmartcount" name="parkSmartCount" placeholder="Change ParkSmart Count">
                </div>
                
                <div class="current-value">
                    <div class="feature">
                        <p>ParkPro Count</p>
                    </div>
                    <p class="marker">:</p>
                    <div class="value">
                        <p>{{ lot.parkProCount }}</p>
                    </div>
                </div>
                <div class="input-field">
                    <input type="number" id="parkprocount" name="parkProCount" placeholder="Change ParkPro Count">
                </div>
                <button type="submit" class="btn btn-success" style="padding: 0.5rem 1rem;">Update</button>
                
            </form>
        </div>
    </div>
</main>
{% endblock %}