{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/admin_side/summary_page.css">
{% endblock %}

{% block titile %}
    Summary Page
{% endblock %}

{% block content %}
<header class="header-content">
    <div class="brand">
        <h4>ParkoU</h4>
    </div>
    <div class="welcome-note">
        <h5>Summary Page</h5>
    </div>
    <nav class="navbar">
        <div class="nav-links">
            <a href="{{ url_for('admin_dashboard') }}" class="nav-link">Edit Lot</a>
            <a href="{{ url_for('user_details') }}" class="nav-link">Users</a>
            <a href="{{ url_for('summary_page') }}" class="nav-link">Summary</a>
            <a href="{{ url_for('doubt_page') }}" class="nav-link">Doubts</a>
            <a href="{{ url_for('edit_admin_profile') }}" class="nav-link">Edit profile</a>
            <a class="nav-link" href="{{ url_for('logout') }}">
                <button type="button" id="btn-logout" class="btn btn-danger">
                    <i class="fa-solid fa-right-from-bracket"></i>                
                    Logout
                </button>
            </a>
        </div>
        <button type="button"class="menu-icon" id="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
</header>
<main>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/after_login_js/summary_page.js"></script>
{% endblock %}
