{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/admin_side/user_info.css">
{% endblock %}

{% block title %}
    User Info
{% endblock %}

{% block content %}
<header class="header-content">
    <div class="brand">
        <h4>ParkoU</h4>
    </div>
</header>
<main>
    <div class="container">
        <div class="top-container">
            <div class="left-top">
                <div class="profile-image">
                    <img src="/static/images/user-svgrepo-com.svg" id="profile-image-demo" alt="">
                </div>
                {% if user %}
                    <h1>{{ user.fullName }}</h1>
                    <p><strong>Email:</strong> {{ user.emailId }}</p>
                    <p><strong>Registered On:</strong> {{ user.registered_on.strftime('%Y-%m-%d %H:%M') }}</p>
                {% else %}
                    <h2>No user found with that email.</h2>
                {% endif %}
                <div class="controls">
                    <a href="{{ url_for('user_details') }}">
                        <button class="btn btn-warning">Go Back</button>
                    </a>
                    <form action="{{ url_for('delete_user', user_id = user.id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this User?');">
                        <button type="submit" class="btn btn-danger">Delete User</button>
                    </form>
                </div>
            </div>
            <div class="right-top">
                <div class="cards-container">
                    <div class="cards">
                        <div class="card-head">
                            Lite Count
                        </div>
                        <div class="card-count">
                            000
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card-head">Smart Count</div>
                        <div class="card-count">000</div>
                    </div>
                    <div class="cards">
                        <div class="card-head">Pro Count</div>
                        <div class="card-count">000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-container table" id="customers_table">
            <section class="table__header">
                <h1>Reservation Info</h1>
            </section>
            <section class="table__body">
                <table border="1">
                    <thead>
                        <tr>
                            <th> Spot ID </th>
                            <th> Parking Timestamp </th>
                            <th> Leaving Timestamp </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        {% if not user.is_admin %}
                            <tr>
                            <td> {{ user.fullName }} </td>
                            <td> {{ user.emailId }} </td>
                            <td>
                                <div class="msg-doubt">
                                    <div class="msg-data">
                                        {{ user.registered_on }} 
                                    </div> 
                                    <div class="msg-control">
                                        <a href="{{ url_for('admin_user_info') }}?email={{ user.emailId }}">
                                            <button type="button">
                                                <i class="fa-solid fa-reply"></i>
                                            </button>
                                        </a>                                    
                                        <form action="#" method="POST" onsubmit="return confirm('Are you sure you want to delete this doubt?');">
                                            <button type="submit">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            </tr>
                        {% endif %}
                        {% else %}
                            <tr>
                            <td colspan="3"> No Users found </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>  
</main>
{% endblock %}