{% extends "index.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/Before_login/style_contact_page.css">
{% endblock %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
<header>
    <div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark px-3">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home_page') }}">
                <div class="navbar-logo">
                    ParkoU
                    <i class="fa-solid fa-location-dot me-2"></i>
                </div>
            </a>
        
            <button id="toggler-btn" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navOptions">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navOptions">
                <ul class="navbar-nav ms-auto d-lg-flex align-items-center" id="navbaroptions">
                    <li class="nav-item"><a href="{{ url_for('home_page') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('pricing') }}" class="nav-link">Pricing</a></li>
                    <li class="nav-item"><a href="{{ url_for('about_page') }}" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact_page') }}" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="{{ url_for('login_page') }}" class="nav-link">Login | Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</header>
<main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="flash-msg" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="contact-container">
        <div class="contact-content">
            <div class="content-heading">
                <h3>Contact Us</h3>
            </div>
            <div class="content-body">
                Do you have a doubt about our services? Feel free to use the form or drop us an email. We answer your calls 24 x 7.
            </div>
            <div class="contact-credentials">
                <div class="credential">
                    <i class="fa-solid fa-phone credential-sign"></i>
                    <p class="credential-content">+91 XXXX XXXX XX</p>
                </div>
                <div class="credential">
                    <i class="fa-solid fa-envelope credential-sign"></i>
                    <p class="credential-content">23f3004460@parkoumail.com</p>
                </div>
                <div class="credential">
                    <i class="fa-solid fa-location-dot credential-sign"></i>
                    <p class="credential-content">
                        33 Pal Sakti Street
                        <br>
                        Chennai, TN 603203
                    </p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form class="contact-form" method="POST" action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="you@example.com" required>
                </div>
                <div class="form-group">
                <label for="question">Ask your question</label>
                <textarea id="question" name="question" placeholder="Type your message here..." required></textarea>
                </div>
                <button type="submit" class="submit-btn">Send</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}