{% extends "index.html" %}
{% block title %}
    Home page
{% endblock %}

{% block content %}
    <header>
        <div class="navbar nav-container">
            <div class="navbar nav-company">
                <div class="nav nav-logo"><i class="fa-solid fa-location-pin"></i></div>
                <div class="nav nav-name">Parkou</div>
            </div>
            <div class="nav nav-options">
                <div class="options">
                    <div class="optn-gen">About</div>
                    <div class="optn-gen">Pricing</div>
                    <div class="optn-gen">Contact</div>
                </div>
                <div class="options">
                    <div class="optn-log">Login</div>
                    <div class="optn-log">Sign Up</div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}