{% extends "index.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="static/css/Before_login/style_home_page.css">
{% endblock %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
<header>
    <div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark px-3">
    <!-- Parent container inside nav -->
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <!-- Brand (left side) -->
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home_page') }}">
                <div class="navbar-logo">
                    ParkoU
                    <i class="fa-solid fa-location-dot me-2"></i>
                </div>
            </a>
        
            <!-- Toggler button for small screens -->
            <button id="toggler-btn" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navOptions">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Collapsible nav content -->
            <div class="collapse navbar-collapse" id="navOptions">
                <ul class="navbar-nav ms-auto d-lg-flex align-items-center" id="navbaroptions">
                    <li class="nav-item"><a href="{{ url_for('home_page') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('pricing') }}" class="nav-link">Pricing</a></li>
                    <li class="nav-item"><a href="{{ url_for('about_page') }}" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact_page') }}" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="{{ url_for('login_page') }}" class="nav-link">Login | Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</header>
<main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="flash-msg" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="content">
            <div class="smallPara">
                <h4>AI powered</h4>
            </div>
            <div class="bigPara">
                <h1>Smarter</h1>
                <h1>Contactless</h1>
                <h1>Parking</h1>
            </div>
            <div class="smallPara">
                <p>Parkou is making parking vehicles easier in <b>India</b></p>
            </div>
        </div>
        <div class="img-container">
            <img src="/static/images/f2522af2-04a5-4a21-b895-26c233a13d4d.jpeg" id="homapageImg" alt="">
        </div>
    </div>
    
    <div class="container-pricing">
        <div class="heading-pricing">
            <h3>Pricing</h3>
            <div class="tagline-pricing">
                <p>Park with complete confidence. Our 7-day money back guarentee means it's risk free . . .</p>
            </div>
        </div>
        <div class="cards-pricing">
            <div class="cards">
                <div class="card-inner">
                  
                  <!-- FRONT SIDE -->
                  <div class="card-front">
                    <h3>Park Lite</h3>
                    <div class="card-descp">
                      <ul>
                        <li><i class="fa-solid fa-check"></i>24 x 7 Security</li>
                        <li><i class="fa-solid fa-xmark"></i>Closed space parking</li>
                        <li><i class="fa-solid fa-xmark"></i>CCTV facility</li>
                        <li><i class="fa-solid fa-xmark"></i>Damage Coverage</li>
                      </ul>
                    </div>
                    <div class="price-container">
                      <div class="rupee-sign"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                      <div class="price-value">60.00</div>
                      <div class="price-duration">/h</div>
                    </div>
                  </div>
              
                  <!-- BACK SIDE -->
                  <div class="card-back">
                    <h3>More Info</h3>
                    <p>This plan offers basic parking with 24x7 security. No slot reservation or CCTV. Ideal for quick stops.</p>
                  </div>
              
                </div>
            </div>
            <div class="cards">
                <div class="card-inner">
                  
                  <!-- FRONT SIDE -->
                  <div class="card-front">
                    <h3>Park Smart</h3>
                    <div class="card-descp">
                      <ul>
                        <li><i class="fa-solid fa-check"></i>24 x 7 Security</li>
                        <li><i class="fa-solid fa-check"></i>Closed space parking</li>
                        <li><i class="fa-solid fa-check"></i>CCTV facility</li>
                        <li><i class="fa-solid fa-xmark"></i>Damage Coverage</li>
                      </ul>
                    </div>
                    <div class="price-container">
                      <div class="rupee-sign"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                      <div class="price-value">90.00</div>
                      <div class="price-duration">/h</div>
                    </div>
                  </div>
              
                  <!-- BACK SIDE -->
                  <div class="card-back">
                    <h3>More Info</h3>
                    <p>
                        Enjoy premium parking with <strong>24x7 security</strong>, <strong>covered space</strong>, and <strong>CCTV surveillance</strong>. 
                        Perfect for long-duration parking or areas where safety and vehicle protection matter most.
                      </p>
                      <p>
                        <em>Note:</em> Slot reservation is not included in this plan.
                      </p>
                  </div>
              
                </div>
            </div>
            <div class="cards">
                <div class="card-inner">
                  
                  <!-- FRONT SIDE -->
                  <div class="card-front">
                    <h3>Park Pro</h3>
                    <div class="card-descp">
                      <ul>
                        <li><i class="fa-solid fa-check"></i>24 x 7 Security</li>
                        <li><i class="fa-solid fa-check"></i>Closed space parking</li>
                        <li><i class="fa-solid fa-check"></i>CCTV facility</li>
                        <li><i class="fa-solid fa-check"></i>Damage Coverage</li>
                      </ul>
                    </div>
                    <div class="price-container">
                      <div class="rupee-sign"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                      <div class="price-value">150.00</div>
                      <div class="price-duration">/h</div>
                    </div>
                  </div>
              
                  <!-- BACK SIDE -->
                  <div class="card-back">
                    <h3>More Info</h3>
                    <p>
                        Our most comprehensive plan offers <strong>24x7 security</strong>, <strong>enclosed parking</strong>, 
                        <strong>CCTV monitoring</strong>, and <strong>Damage Coverage</strong> to ensure maximum convenience and safety.
                      </p>
                      <p>
                        Ideal for frequent users or those needing guaranteed space in high-demand areas.
                      </p>
                  </div>
              
                </div>
            </div>
        </div>         
    </div>

    <div class="service-container">
        <div class="service-heading">
            <h3>Our Services</h3>
            <p class="service-tagline">Seamless Parking, Secured Access. Serving 100,000+ users everyday</p>
        </div>
    
        <div class="slider-container">
            <div class="slider-track">
                <div class="card-container">
                    <!-- 6 service cards -->
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/parking-open-space.jpg" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>Outdoor Quick Parking</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/pcs1.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>24 x 7 Security</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/parking-closed-door.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>Safe Parking Spots</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/cctv-camera-car-parking.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>CCTV Coverage</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/multilevel_parking.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>90+ Multilevel Parking Access</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/reserved_parking.jpeg" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>Reserved Parking Facility</p>
                        </div>
                    </div>
    
                    <!-- Repeat the same 6 cards again for seamless looping -->
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/parking-open-space.jpg" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>Outdoor Quick Parking</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/pcs1.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>24 x 7 Security</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/parking-closed-door.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>Safe Parking Spots</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/cctv-camera-car-parking.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>CCTV Coverage</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/multilevel_parking.png" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>90+ Multilevel Parking Access</p>
                        </div>
                    </div>
    
                    <div class="service-card">
                        <div class="service-card-container">
                            <img src="/static/images/reserved_parking.jpeg" alt="" class="service_card_img">
                        </div>
                        <div class="service-card-descp">
                            <p>Reserved Parking Facility</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="contact-container">
        <div class="contact-heading">
            <h3>HAVE A DOUBT</h3>
            <div class="contact-heading-tagline">
                We are available 24 x 7. Feel free to reach us . . .
            </div>
        </div>
        <div class="contact-content">
            <div class="contact-img">
                <img src="/static/images/contact_space.png" alt="">
            </div>
            <form class="contact-form" method="POST" action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="tetx" id="name" name="name" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="you@example.com" required>
                </div>
                <div class="form-group">
                <label for="question">Ask your question</label>
                <textarea id="question" name="question" placeholder="Type your message here..." required></textarea>
                </div>
                <button type="submit" class="submit-btn">Send</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}