{% extends "index.html" %}
{% block title %}
    Home page
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark px-3">
        <!-- Parent container inside nav -->
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <!-- Brand (left side) -->
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <div class="navbar-logo">
                        Parkou
                        <i class="fa-solid fa-location-dot me-2"></i>
                    </div>
                </a>
            
                <!-- Toggler button for small screens -->
                <button id="toggler-btn" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navOptions">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- Collapsible nav content -->
                <div class="collapse navbar-collapse" id="navOptions">
                    <ul class="navbar-nav ms-auto d-lg-flex align-items-center" id="navbaroptions">
                        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <div class="bigPara">
                    <h1>Smarter Contactless Parking</h1>
                </div>
                <div class="smallPara">
                    <p>Parkou is making parking vehicles easier in <b>India</b>
                        <!-- <ul class="cycling-list">
                            <li>Kolkata</li>
                            <li>Chennai</li>
                            <li>Hydrabad</li>
                            <li>Mumbai</li>
                            <li>Delhi</li>
                            <li>Gurgaon</li>
                        </ul> -->
                    </p>
                </div>
            </div>
            <div class="img-container">
                <img src="/static/images/f2522af2-04a5-4a21-b895-26c233a13d4d.jpeg" id="homapageImg" alt="">
            </div>
        </div> 
        
        <div class="container-pricing">
            <div class="heading-pricing">
                <h3>Pricing</h3>
                <div class="tagline-pricing">
                    <p>Park with complete confidence. Our 7-day money back guarentee means it's risk free.</p>
                </div>
            </div>
            <div class="cards-pricing">
                <div class="cards">
                    <h4>Park Lite</h4>
                    <div class="card-descp">
                        <ul>
                            <li>Security on guard</li>
                            <li>Closed space parking</li>
                            <li>CCTV facility</li>
                            <li>Slot reserve</li>
                        </ul>
                    </div>
                </div>
                <div class="cards">
                    <h4>Park Smart</h4>
                    <div class="card-descp">
                        <ul>
                            <li>Security on guard</li>
                            <li>Closed space parking</li>
                            <li>CCTV facility</li>
                            <li>Slot reserve</li>
                        </ul>
                    </div>
                </div>
                <div class="cards">
                    <h4>Park Pro</h4>
                    <div class="card-descp">
                        <ul>
                            <li>Security on guard</li>
                            <li>Closed space parking</li>
                            <li>CCTV facility</li>
                            <li>Slot reserve</li>
                        </ul>
                    </div>
                </div>
            </div>         
        </div>
        
    </main>
</div>
{% endblock %}