{% extends "index.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/Before_login/style_pricing_page.css">
{% endblock %}

{% block title %}
    Pricing
{% endblock %}

{% block content %}
<header>
    <div class="page-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark px-3">
    <!-- Parent container inside nav -->
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <!-- Brand (left side) -->
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home_page') }}">
                <div class="navbar-logo">
                    ParkoU
                    <i class="fa-solid fa-location-dot me-2"></i>
                </div>
            </a>
        
            <!-- Toggler button for small screens -->
            <button id="toggler-btn" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navOptions">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Collapsible nav content -->
            <div class="collapse navbar-collapse" id="navOptions">
                <ul class="navbar-nav ms-auto d-lg-flex align-items-center" id="navbaroptions">
                    <li class="nav-item"><a href="{{ url_for('home_page') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact_page') }}" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
</div>
</header>
<main>
    <div class="container-pricing">
        <div class="heading-pricing">
            <h3>Pricing</h3>
            <div class="tagline-pricing">
                <p>Park with complete confidence. Our 7-day money back guarentee means it's risk free . . .</p>
            </div>
        </div>
        <div class="cards-pricing">
            <div class="cards">
                <h3>Park Lite</h3>
                <div class="card-descp">
                    <ul>
                        <li>24 x 7 Security</li>
                        <li>Closed space parking</li>
                        <li>CCTV facility</li>
                        <li>Slot reserve</li>
                    </ul>
                </div>
                <div class="price-container">
                    <div class="rupee-sign"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                    <div class="price-value">60.00</div>
                    <div class="price-duration">/h</div>
                </div>
            </div>
            <div class="cards">
                <h3>Park Smart</h3>
                <div class="card-descp">
                    <ul>
                        <li>24 x 7 Security</li>
                        <li>Closed space parking</li>
                        <li>CCTV facility</li>
                        <li>Slot reserve</li>
                    </ul>
                </div>
                <div class="price-container">
                    <div class="rupee-sign"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                    <div class="price-value">90.00</div>
                    <div class="price-duration">/h</div>
                </div>
            </div>
            <div class="cards">
                <h3>Park Pro</h3>
                <div class="card-descp">
                    <ul>
                        <li>24 x 7 Security</li>
                        <li>Closed space parking</li>
                        <li>CCTV facility</li>
                        <li>Slot reserve</li>
                    </ul>
                </div>
                <div class="price-container">
                    <div class="rupee-sign"><i class="fa-solid fa-indian-rupee-sign"></i></div>
                    <div class="price-value">150.00</div>
                    <div class="price-duration">/h</div>
                </div>
            </div>
        </div>         
    </div>
</main>
<footer>
    <div class="container-footer">
        <div class="footer-top-container">
            <div class="footer-card">
                <div class="footer-address">
                    <h3>ParkoU</h3>
                    <p>
                        33 Pal Sakti street <br>
                        Chennai, TN 603203 
                        <br>
                        <br>
                        Phone: +91 XXXX XXXX XX <br> 
                        Email: 23f3004460@gmail.com
                    </p>
                </div>
            </div>
            <div class="footer-card">
                <div class="footer-card-childs">
                    <p class="footer-top-heading">Usefull Links</p>
                    <ul class="footer-top-list">
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Services</li>
                        <li>Pricing</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="footer-card-childs">
                    <p class="footer-top-heading">Our Services</p>
                    <ul class="footer-top-list">
                        <li>Quick Parking</li>
                        <li>Closed Roof Parking</li>
                        <li>CCTV Coverage</li>
                        <li>Pre-Reserve Facility</li>
                        <li>Security</li>
                    </ul>
                </div>
                <div class="footer-card-childs">
                    <p class="footer-top-heading">Information</p>
                    <ul class="footer-top-list">
                        <li>Terms of service</li>
                        <li>Affiliate programs</li>
                        <li>Careers</li>
                        <li>Report issue</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-container">
            <div class="bottom-footer-card">
                <p>@ Copyright <strong>ParkoU</strong>. All Rights Reserved
                <br>
                Designed by Pritam
                </p>
            </div>
            <div class="bottom-footer-card">
                <a href="#" class="media-links"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="media-links"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="media-links"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#" class="media-links"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}