@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333;
    --link-color: #fff;
    --background-color: #40b0b4;
    --light-grey: #f0f0f0;
    --grey: #808080;
    --dark-grey: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
}

/* ===== HEADER ===== */
.header-content {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    min-height: 90px;
}

.brand h4{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--link-color);
}

body {
    min-height: 100vh;
    background: url("/static/images/html_table.jpg") center / cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.container {
    height: 80vh;
    width: 70vw;
    max-height: 600px;
    max-width: 90vw;
    background-color: #fff5;
    backdrop-filter: blur(5px);

    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-section{
    width: 100%;
    margin: 5px 0;
    padding: 0.5rem auto;
}

.top-section h3{
    color: #fff;
    font-weight: 600;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}

.middle-heading h4{
    color: var(--link-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.middle-content{
    color: var(--link-color);
    font-size: 1rem;
}

.bottom-section{
    width: 100%;
}

.mail-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mail #replyMessage{
    width: 60vw;
    height: 30vh;
    background-color: #fff5;
    backdrop-filter: blur(5px);

    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    border: none;
    padding: 0.5rem;
}

.mail-control {
    background-color: none;   
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

form h3{
    color: var(--link-color);
    font-weight: 600;
}