@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333;
    --link-color: #fff;
    --background-color: #40b0b4;
    --light-grey: #f0f0f0;
    --grey: #808080;
    --dark-grey: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
}

/* ===== HEADER ===== */
.header-content {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    min-height: 90px;
}

.brand h4{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--link-color);
}