{% extends 'base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/after_login/user_side/user_dashboard.css">
{% endblock %}

{% block title %}
    User Dashboard
{% endblock %}

{% block content %}
    <header>
        <div class="page-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark px-3">
                <div class="container-fluid d-flex align-items-center justify-content-between">
        
                    <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home_page') }}">
                        <div class="navbar-logo">
                            ParkoU
                            <i class="fa-solid fa-location-dot me-2"></i>
                        </div>
                    </a>
                
                    <button id="toggler-btn" class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navOptions">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navOptions">
                        <ul class="navbar-nav ms-auto d-lg-flex align-items-center" id="navbaroptions">
                            <li class="nav-item"><a href="{{ url_for('select_parkinglot', city=city) }}" class="nav-link">Book Parkou</a></li>
                            <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="top-container">
                <div class="left-top">
                    <div class="profile-image">
                        <img src="/static/images/user-svgrepo-com.svg" id="profile-image-demo" alt="">
                    </div>
                    {% if user %}
                        <h1>{{ user.fullName }}</h1>
                        <p><strong>Email:</strong> {{ user.emailId }}</p>
                        <p><strong>Registered On:</strong> {{ user.registered_on.strftime('%Y-%m-%d %H:%M') }}</p>
                    {% else %}
                        <h2>No user found with that email.</h2>
                    {% endif %}
                    <div class="controls">
                        <a href="{{ url_for('edit_user_profile') }}">
                            <button class="btn btn-warning">Edit Profile</button>
                        </a>
                    </div>
                </div>
                <div class="right-top">
                    <div class="cards-container">
                        <div class="cards">
                            <div class="card-head">
                                Lite Count
                            </div>
                            <div class="card-count">
                                {{ lite_count }}
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-head">Smart Count</div>
                            <div class="card-count">
                                {{ smart_count }}
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-head">Pro Count</div>
                            <div class="card-count">
                                {{ pro_count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-container table" id="customers_table">
                <section class="table__header">
                    <h1>Reservation Info</h1>
                </section>
                <section class="table__body">
                    <table border="1">
                        <thead>
                            <tr>
                                <th> Spot ID </th>
                                <th> Parking Type </th>
                                <th> Parking Timestamp </th>
                                <th> Leaving Timestamp </th>
                                <th> Ratings </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if reservations %}
                            {% for reservation in reservations %}
                                <tr>
                                <td> {{ reservation.spotId }} </td>
                                <td> {{ reservation.parkingType }} </td>
                                <td>
                                    {{ reservation.parkingTimestamp }}
                                </td>
                                <td>{{ reservation.leavingTimestamp }}</td>
                                <td>{{ reservation.ratings }}</td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                <td colspan="5"> No Reservation found </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>  
    </main>

    <script src="/static/js/after_login_js/lot_selection.js"></script>
{% endblock %}